@font-face {
   font-family: 'iosevka-ss14-extendedextrabold';
   font-display: swap;
   src: url('file:///C:/Users/Mehraj/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-07-20_181454/fonts/iosevka-ss14-extendedextrabold/font.ttf');
}
